<form #addForm="ngForm" (ngSubmit)="onAdd()">
    <div>
        <label>
            Title
            <input name="title" ngModel>
        </label>
    </div>
    <div>
        <label>
            Salary
            <input type="number" name="salary" ngModel>
        </label>
    </div>
    <div>
        <label>
            Description
            <input name="description" ngModel>
        </label>
    </div>
    <div>
        <label>
            Experience
            <input type="number" name="experience" ngModel>
        </label>
    </div>
    <div>
        <label>
            Skills
            <input  name="skills" ngModel>
        </label>
    </div>
    <br>
    <div>
        <label> 
            Locations
            <div>
                <label>
                    Address
                    <input name="country" ngModel>
                </label>
            </div>
            <div>
                <label>
                    City
                    <input name="state" ngModel>
                </label>
            </div>
            
        </label>
    </div>
    <button type="submit">Add</button>
</form>